<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,800" rel="stylesheet">
    <link rel="stylesheet" href="{{assets.main.css}}">

    <title>Magical Bedroom Products</title>
  </head>

  <body>
    <div class="main">
      <section class="gallery"  data-gallery></section>
      <section class="cart mobile--hidden" data-cart></section>
    </div>

    <script type="text/javascript" src="{{assets.main.js}}"></script>
  </body>
</html>
