@import 'reset';
@import 'breakpoints';
@import 'colors';


$vertical-rhythm: 10px;
$gutter: 20px;

////////////////////////////////////////////////// Generics
* {
  box-sizing: border-box;
}

html,
body,
button {
  font-family: 'Roboto Slab', serif;
}

html,
body {
  background-color: $color--background;
  color: $color--foreground;
}

ol,
ul {
  list-style: none;
}

hr {
  border: 2px solid $color--foreground;
  margin-bottom: 4 * $vertical-rhythm;
}

p {
  margin-bottom: $vertical-rhythm;
  font-weight: 300;
}

.mobile--hidden {
  @include breakpoint(mobile) {
    display: none !important;
  }
}

.tablet--hidden {
  @include breakpoint(tablet) {
    display: none !important;
  }
}

.desktop--hidden {
  @include breakpoint(desktop) {
    display: none !important;
  }
}

////////////////////////////////////////////////// Layout
.flex-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &.spaced {
    justify-content: space-between;
  }

  .flex-child {
    align-self: flex-start;
  }
}

.main {
  max-width: 1024px;
  padding: $gutter * 4 $gutter;
  margin: 0 auto;
}

.App {
  overflow-x: hidden;
}

////////////////////////////////////////////////// Posts
.post--gallery {
  width: 100%;
  margin-bottom: 2 * $gutter;

  .post__image {
    width: 100%;
    min-height: 300px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .post__title {
    padding: $gutter 0;

    text-align: center;
  }

  @include breakpoint(tablet) {
    width: auto;
    margin: 0 $gutter $gutter * 2;

    .post__image {
      width: 250px;
      height: 250px;

      transition: transform 100ms;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

////////////////////////////////////////////////// Carousel
.slick-slider {
  margin-bottom: 4 * $gutter;

  & > button {
    display: none !important;
  }
}
